name: Test
on: pull_request
jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'
        cache-dependency-path: ./go.mod
    - name: Run Tests
      run: go test -v ./...
