name: Test
on: pull_request
jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: "^1.17"
    - name: Run Tests
      run: go test -v ./...
